In [ ]:
#Function syntax

def function_name(parameters):
  """Docstring (optional)"""
  # Function body (code)
  return result (optional)

**Function parameters and arguments**

In [2]:
def add_numbers(a, b):
  """This function adds two numbers."""
  result = a + b
  return result

In [3]:
#calling  function

sum_result = add_numbers(5, 3)
print(sum_result) # Output: 8

8

In [4]:
#Function argument
def add(a, b):
  return a + b

result = add(3, 4) # a=3, b=4

In [5]:
#Keyword argument
def greet(name, greeting):
  print(greeting + "," + name + "!")

greet(greeting="Hi", name="Alice")

Hi,Alice!

In [6]:
#Default argument
def greet(name, greeting="Hello"):
  print(greeting + "," + name + "!")

greet("Bob") # Uses default greeting "Hello"

Hello,Bob!

In [7]:
#Arbitrary argument
def print_values (*args):
  for arg in args:
    print(arg)

print_values(1, 2, 3, "Hello")

1
2
3
Hello

In [8]:
# Function with return value
def add_numbers(a, b):
  result = a + b
  return result

#Calling the function and assigning the result to a variable
sum_result = add_numbers(5, 3)

#Printing the result
print("The sum is:", sum_result) # Output: The sum is: 8

The sum is: 8

In [ ]:
# Function with default return value
def do_nothing():
  pass # This function does nothing

result = do_nothing()
print(result) # Output: None

None

In [10]:
#Function with none return value
def return_none():
  return None

result = return_none()
print(result) # Output: None

None

**Lambda functions**

In [11]:
#Lambda function
lambda arguments: expression

In [8]:

#Basic Lambda function to add two numbers

add = lambda x, y: x + y
result = add(3, 6)

print("Result of add:", result)

Result of add: 9

In [9]:
#Filter with lambda


#List of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filtering even numbers using Lambda and filter
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

#Print the result
print("Original numbers:", numbers)
print("Even numbers:", even_numbers)

Original numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even numbers: [2, 4, 6, 8, 10]

In [11]:
#Map with lambda


# List of numbers
numbers = [1, 2, 3, 4, 5]

#Mapping each number to its square using Lambda and map
squared_numbers = list(map(lambda x: x**2, numbers))

#Print the result
print("Original numbers:", numbers)
print("Squared numbers:", squared_numbers)

Original numbers: [1, 2, 3, 4, 5]
Squared numbers: [1, 4, 9, 16, 25]

In [12]:
#Sorting with lambda


#List of tuples
pairs = [(1, 5), (2, 3), (4, 1), (3, 7)]

# Sorting tuples based on the second element using Lambda and sorted
sorted_pairs = sorted(pairs, key = lambda x: x[1])

#Print the result
print("Original pairs:", pairs)
print("Sorted pairs based on the second element:", sorted_pairs)

Original pairs: [(1, 5), (2, 3), (4, 1), (3, 7)]
Sorted pairs based on the second element: [(4, 1), (2, 3), (1, 5), (3, 7)]

In [7]:
#Reduce function with lambda


from functools import reduce

#List of numbers
numbers = [1, 2, 3, 4, 5]

#Using Lambda function with reduce to calculate the product of numbers
product = reduce(lambda x, y: x * y, numbers)

#Print the result
print("Original numbers:", numbers)
print("Product of numbers:", product)

Original numbers: [1, 2, 3, 4, 5]
Product of numbers: 120

**Recursion**

In [6]:
def factorial(n):
  """
  Recursive function to calculate the factorial of a number.
  Parameters:
  -n (int): The number for which the factorial is calculated.

  Returns:
  -int: The factorial of the given number.
  """
  #Base case: factorial of 0 or 1 is 1
  if n==0 or n==1:
    return 1
  else:
    #Recursive case: n! = n*(n-1)!
    return n * factorial(n-1)

#Example usage:
print("Factorial of 5:", factorial(5))

Factorial of 5: 120